.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 9vh;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  background: conic-gradient(
    from 30deg,
    #40c9ff8e,
    #40c9ff,
    #111f4de8,
    rgb(255, 132, 0)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: rotateColors 3s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite,
    moveColors 3s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite alternate;
  background-size: 250% 250%;
}
@keyframes rotateColors {
  0% {
    background-position: 0deg;
  }
  100% {
    background-position: 360deg;
  }
}
@keyframes moveColors {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.name:hover {
  background: linear-gradient(to left, #c9fdd7, #40c9ff, #fc00ff, #40c9ff);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: color 0.3s;
}
.about-name {
  font-size: 4vh;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 30px;
  border-radius: 30px;
  background: linear-gradient(to right, #c9fdd7, #40c9ff, #fc00ff, #40c9ff);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.about-name:hover {
  background: black;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: color 0.3s;
  text-decoration: underline;
}
.description-about {
  font-size: 2.5vh;
  margin-bottom: 30px;
}
.right {
  text-align: center;
}
.me {
  margin-top: 130px;
  width: 20%;
  height: auto;
  border-radius: 50%;
  position: relative;
  transition: transform 150ms, box-shadow 150ms;
  box-shadow: black;
  transition: transform 150ms;
}
.me:hover {
  transform: translate(0.3em, -0.3em);
  box-shadow: -0.3em 0.3em 30px rgba(255, 0, 0, 0.138), -0.3em 0.3em 20px #0ff,
    -0.3em 0.3em 30px #f0f, -0.3em 0.3em 40px #ff0,
    -0.3em 0.3em 50px rgba(0, 0, 255, 0.8) inset;
}

.social-links a {
  padding: 0 25px;
}
.buttons-container {
  margin-top: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-1 {
  position: relative;
  padding: 15px 25px;
  margin: 20px 10px;
  background-color: #c9fdd7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-1 a {
  padding: 0 3px 0 10px;
  color: #7289da;
  text-decoration: none;
}
.button-1 a:hover {
  text-decoration: underline;
}
.button-1::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 100px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #fc00ff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-left: 7px;
}

.button-1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #c9fdd7 0%, #40c9ff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button-1:hover::after {
  filter: blur(30px);
}

.button-1:hover::before {
  transform: rotate(-180deg);
}

.button-1:active::before {
  scale: 0.7;
}
.button-1:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}
.button-2:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}

.button-2 {
  position: relative;
  padding: 15px 25px;
  margin: 20px 10px;
  background: #7289da;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-2 a {
  color: #c9fdd7;
  text-decoration: none;
}
.button-2 a:hover {
  text-decoration: underline;
}
.button-2::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 100px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #fc00ff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #c9fdd7 0%, #40c9ff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button-2:hover::after {
  filter: blur(30px);
}

.button-2:hover::before {
  transform: rotate(-180deg);
}

.button-2:active::before {
  scale: 0.7;
}

.svg-icon-one {
  animation: moveEmoticon 2s infinite;
}
.svg-icon-two {
  animation: moveEmoticon 2s infinite;
  animation-delay: 0.5s;
}
.svg-icon-three {
  animation: moveEmoticon 2s infinite;
  animation-delay: 1s;
}
@keyframes moveEmoticon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

#link-2-impact {
  color: #7289da;
  text-decoration: none;
}

#link-2-impact:hover {
  text-decoration: underline;
}

.social-links a:nth-child(1) {
  fill: #7289da;
}
.social-links a:hover:nth-child(1) {
  fill: #5f6769;
}
.social-links a:active:nth-child(1) {
  fill: crimson;
}

.social-links a:nth-child(2) {
  fill: #e8491d;
}
.social-links a:hover:nth-child(2) {
  fill: #5f6769;
}
.social-links a:active:nth-child(2) {
  fill: rgb(60, 255, 0);
}

.social-links a:nth-child(3) {
  fill: #ff347f;
}
.social-links a:hover:nth-child(3) {
  fill: #5f6769;
}
.social-links a:active:nth-child(3) {
  fill: rgb(255, 238, 0);
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  .name {
    font-size: 9vh;
  }
}
/*TABLET*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .name {
    font-size: 5.9vh;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
  .about-name {
    font-size: 3.3vh;
    margin: 20px 20px;
  }
  .description-about {
    font-size: 2vh;
    max-width: 420px;
    margin: 0 auto;
  }
  .svg-icon-one {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .svg-icon-two {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .svg-icon-three {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .me {
    width: 15%;
  }
  .buttons-container {
    margin-top: 10px;
  }
}
/*MOBILE*/
@media only screen and (max-width: 600px) {
  .name {
    font-size: 5.2vh;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
  .about-name {
    font-size: 2.2vh;
    margin: 20px 20px;
  }
  .description-about {
    font-size: 2vh;
    max-width: 300px;
    margin: 0 auto;
  }
  .svg-icon-one {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .svg-icon-two {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .svg-icon-three {
    margin-top: 30px;
    height: 40px;
    width: 30px;
  }
  .buttons-container {
    display: inline-block;
    margin: 0 auto;
    gap: 0;
  }
}
