.footer {
  background: linear-gradient(to bottom, #7289da, #c9fdd7);
  color: #fff;
  padding: 30px 0;
  margin-top: 70px;
  text-align: center;
  flex-wrap: wrap;
}
.container-3 {
  display: flex;
  justify-content: center;
}
.svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg svg {
  flex: 1;
  flex-wrap: wrap;
  margin: 40px;
  width: 40px;
  height: 40px;
}

.col-md-4 img {
  border-radius: 50%;
}
.col-md-4 h4 {
  background: conic-gradient(
    from 30deg,
    #40c9ff8e,
    #00ff00,
    #111f4de8,
    rgb(255, 132, 0)
  );
}
@keyframes rotateColors {
  0% {
    background-position: 0deg;
  }
  100% {
    background-position: 360deg;
  }
}
@keyframes moveColors {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes textShadowColors {
  0% {
    text-shadow: 0 0 1px white, 5px 5px 2px black, 5px 5px 1px black;
  }
  50% {
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
  }
  100% {
    text-shadow: 0 0 1px #00ff00, -5px -5px 10px #00ff00, -5px -5px 1px black;
  }
}

#name {
  width: 30%;
  padding: 15px 30px;
  border: none;
  margin-bottom: 20px;
}
#email {
  width: 30%;
  padding: 15px 30px;
  border: none;
  margin-bottom: 20px;
}

#name:hover {
  box-shadow: 0 0 10px 3px #e8491d;
  background-color: azure;
  color: #e8491d;
}
#email:hover {
  box-shadow: 0 0 10px 3px #e8491d;
  background-color: azure;
  color: #e8491d;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.svg a:nth-child(1) {
  fill: rgb(255, 170, 0);
}
.svg a:hover:nth-child(1) {
  fill: #5f6769;
}
.svg a:active:nth-child(1) {
  fill: #ff005d;
}
.svg a:nth-child(2) {
  fill: #7289da;
}
.svg a:hover:nth-child(2) {
  fill: #5f6769;
}
.svg a:active:nth-child(2) {
  fill: crimson;
}

.svg a:nth-child(3) {
  fill: #e8491d;
}
.svg a:hover:nth-child(3) {
  fill: #5f6769;
}
.svg a:active:nth-child(3) {
  fill: rgb(60, 255, 0);
}

.svg a:nth-child(4) {
  fill: #ff005d;
}
.svg a:hover:nth-child(4) {
  fill: #5f6769;
}
.svg a:active:nth-child(4) {
  fill: wheat;
}

.svg-icon-footer {
  margin: 15px auto;
  transform: scale(1.4);
}
.cube-2 {
  margin-top: 40px;
}
.button-3 {
  padding: 8px;
  background-color: #c9fdd7;
  color: #e8491d;
  margin-top: 20px;
}
.button-3:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #e8491d;
}

#registration-message {
  margin-top: 10px;
  color: #00ff00;
  font-weight: bold;
  font-size: 30px;
  background: conic-gradient(
    from 42deg,
    white,
    #40c9ff,
    black,
    rgb(255, 132, 0)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: rotateColors-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite,
    moveColors-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite alternate;
  background-size: 400% 400%;
  overflow: hidden;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: -10px;
    position: relative;
  }

  .container-3 {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .col-md-4 h4 {
    font-size: 16px;
  }
  form {
    margin-top: 5px;
  }
  .col-md-4 {
    margin-bottom: 10px;
    text-align: center;
  }
  .svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .svg svg {
    flex: 1;
    flex-wrap: wrap;
    margin: 20px;
    width: 32px;
    height: 32px;
  }
  .col-md-4 h4 {
    font-size: 4.2vh;
  }
  #name {
    width: 60%;
    padding: 5px 10px;
    border: none;
    margin-bottom: 20px;
  }
  #email {
    width: 60%;
    padding: 5px 10px;
    border: none;
    margin-bottom: 20px;
  }
}
