@import url("https://fonts.cdnfonts.com/css/lexend");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lexend";
}
body {
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #c9fdd79f, #40c9ffa8, #fb00ff51, #40c9ff);
  border-radius: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to top,
    #f3ecd383,
    #474f850e,
    #51e3d424,
    #f3ecd383
  );
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #c9fdd7, #40c9ff, #fb00ff90, #40c9ff);
}

html {
  scroll-behavior: smooth;
}
