.skills-title {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  background: conic-gradient(
    from 30deg,
    #40c9ff8e,
    #40c9ff,
    #111f4de8,
    rgb(255, 132, 0)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: rotateColors 3s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite,
    moveColors 3s cubic-bezier(0.25, 0.46, 0.45, 0.14) infinite alternate;
  background-size: 250% 250%;
}
.icon {
  margin-top: 50px;
  padding: 10px 42px;
}
.icon:hover {
  box-shadow: 0 0 20px #40c9ff inset;
  border-radius: 10%;
}
.icon-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 10px;
}

/*TABLET*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .icon {
    padding: 41px;
    margin-bottom: -10px;
  }
}
/*MOBILE*/
@media only screen and (max-width: 600px) {
  .icon-skills {
    padding: 10px;
  }
  .icon {
    padding: 5px;
  }
  .svg-icon-2 {
    height: 35px;
    width: 35px;
  }
}
